@font-face {
    font-family: 'Poppins';
    src: url(fonts/Poppins/Poppins-Medium.ttf);
}
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    align-items: center;
}
body {
    background-color: black;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
ul {
    display: flex;
    position: relative;
    top: 50px;
    color: rgb(170, 170, 170);
    list-style: none;
}

ul li {
    padding: 0 10px 5px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: color 0.3s;
}

ul li:hover {
    color: rgb(255, 255, 255);
}

ul li::before {
    content: '';
    position: absolute;
    inset: calc(100% - 3px) 0 0 0;
    background-color: rgb(240, 90, 20);
    transform: scale(0, 1);
    transition: 0.3s, translate 0s 0.3s;
}

ul:hover li::before {
    transform: scale(1, 1);
}

ul li:hover::before {
    transform: translateX(0);
    transition: transform 0.3s;
}

ul:hover li:has(~ li:hover)::before {
    transform: translateX(100%);
    transition: transform 0.2s 0.2s, scale 0s 0.2s;
}

ul:hover li:hover ~ li::before {
    transform: translateY(100%);
    transition: transform 0.2s 0.2s, scale 0s 0.2s;
}