@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-image: url(../Asset/bgPusdatin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Montseratt';
}
.header-container {
    display: flex;
    background-color: #f2f2f2a6;
    height: 7.2rem;

}
.title{
    display: flex;
}
.title img{
    height: 100px;
    width: 100px;
}
.title h1{
    font-weight: bold;

}
ul {
    display: flex;
    list-style: none;
}

li {
    font-size: 80px;
}