@font-face {
    font-family: 'Montseratt';
    src: url(../fonts/Montserrat/static/Montserrat-Medium.ttf);
}
@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins/Poppins-Medium.ttf);
}
body {
    background-image: url(../Asset/bgPusdatin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Montseratt', sans-serif;
    
}
.header-container {
    display: flex;
    background-color: #f2f2f2a6;
    height: 7.2rem;

}
ul {
    display: flex;
    list-style: none;
}

li {
    font-size: 80px;
    
}