@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-item: rgb(173, 173, 173);
    --color-item-hover: rgb(255, 255, 255);
}
body {
    margin: 0;
    padding: 0;

}

/* konten utama */
.main-container {
    width: 100vw;
    height: 100vh;
    background-image: url(../Asset/bgPusdatin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif; 
}

/* Konten header */
.header-container {
    background-color: rgb(37,37,37);
    display: flex;
    height: 80px;
    width: 100%;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.678);
}

/* logo+text sipintar */
.title{
    display: flex;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
    gap: 25px;
    -webkit-user-drag: none;
    user-select: none;
}
.title img{
    height: 60px;
    width: 60px;
}
.title h1{
    margin: 0px;
    font-weight: bolder;
    font-size: 30px;  
    color: white;
    width: 180px;
}
.title a{
    text-decoration: none;
}

/* navbar konten */
nav {
    display: block;
    background-color: rgb(37,37,37);
    width: 69%;
    margin-left: 20px;
    
}
nav ul {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}
nav ul li {
    display: flex;
    position: relative;
    padding: 0 20px ;
    align-items: center;
}

/* text navbar decoration */

nav ul li a {
    text-decoration: none;
    color: var(--color-item);
    font-size: 17px;
    -webkit-user-drag: none;
    user-select: none;
    transition: color 0.2s;
}
nav ul li > a {
    display: inline-block;
    line-height: 80px;
    margin-bottom: 0 !important;
}
nav ul li .dropdown > a {
    display: inline-block;
    line-height: 80px;
    margin-bottom: 0 !important;
}

/* color text transition */
nav ul li a:hover {
    color: var(--color-item-hover)
}
/* dropdown */
.dropdown {
    position: relative;
    display: block;
    right: 20px;
}

/* dropdown icon */
.dropdown span {
    position: relative;
    background-color: var(--color-item);
    transition: background-color 0.3s, transform 0.3s ease-in-out;;
}
.dropdown:hover  span {
    background-color: var(--color-item-hover);
}
.left-icon, .right-icon{
    position: relative;
    display: inline-block;
    bottom: 4px;
    width: 9px;
    height: 2px;
    border-radius: 20px;
    background-color: var(--color-item);
}

.left-icon{
    transform: rotate(45deg);
    left: 5px;
}
.right-icon{
    transform: rotate(-45deg);
    right: 3px;
}
.dropdown.active .left-icon{
    transform: rotate(135deg);
}
.dropdown.active .right-icon{
    transform: rotate(-135deg);
}

/* dropdown item styling */
.dropdown .dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 245px;
    height: 215px;
    flex-direction: column;
    overflow: hidden;
    visibility: hidden;
}
.dropdown.active .dropdown-content {
    visibility: visible;
}
.dropdown .dropdown-content a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 65px;
    padding: 0 20px;
    margin-top: 3px;
    position: relative;
    bottom: 100%;
    background-color:  rgba(37,37,37, 0.98);
    border-radius: 10px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    transition-delay: calc(60ms * var(--i));
}

.dropdown.active .dropdown-content a {
    bottom: 0;
}

/* dropdown 2 */
nav ul li .dropdown-2 > a {
    display: inline-block;
    line-height: 80px;
    margin-bottom: 0 !important;
}

/* dropdown 2 icon */
.dropdown-2 span {
    position: relative;
    background-color: var(--color-item);
    transition: background-color 0.3s, transform 0.3s ease-in-out;;
}
.dropdown-2:hover  span {
    background-color: white;
}
.dropdown-2.active .left-icon{
    transform: rotate(135deg);
}
.dropdown-2.active .right-icon{
    transform: rotate(-135deg);
}

/* dropdown item 2 styling */
.dropdown-2 .dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 245px;
    height: 215px;
    flex-direction: column;
    overflow: hidden;
    visibility: hidden;
}
.dropdown-2.active .dropdown-content {
    visibility: visible;
}
.dropdown-2 .dropdown-content a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 65px;
    padding: 0 20px;
    margin-top: 3px;
    position: relative;
    bottom: 100%;
    background-color:  rgba(37,37,37, 0.98);
    border-radius: 10px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    transition-delay: calc(60ms * var(--i));
}

.dropdown-2.active .dropdown-content a {
    bottom: 0;
}
.socialmedia-container {
    display: block;
    position: relative;
    width: 293px;
}

.socialmedia-container .socialmedia {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

/* sidebar */
.socialmedia-container .socialmedia .sidebar-socialmedia  {
    position: relative;
    display: block;
    width: 134px;


}
/* dropdown 2 icon */
.sidebar-socialmedia span {
    position: relative;
    background-color: var(--color-item);
    transition: background-color 0.3s, transform 0.3s ease-in-out;;
}
.sidebar-socialmedia:hover  span {
    background-color: white;
}
.sidebar-socialmedia .bottom-icon, .top-icon{
    position: relative;
    display: inline-block;
    bottom: 4px;
    width: 9px;
    height: 2px;
    border-radius: 20px;
    background-color: var(--color-item);
}

.sidebar-socialmedia .bottom-icon{
    transform: rotate(-45deg);
    bottom: 1px;
    left: 3px;
}
.sidebar-socialmedia .top-icon{
    transform: rotate( 45deg);
    right: 10px;
    bottom: 7px;

}
.sidebar-socialmedia.active .bottom-icon{
    transform: rotate(-135deg);
}
.sidebar-socialmedia.active .top-icon{
    transform: rotate(135deg);
}
.sidebar-socialmedia a {
    text-decoration: none;
    color: var(--color-item);
    font-size: 17px;
    -webkit-user-drag: none;
    user-select: none;
    transition: color 0.2s;
    display: inline-block;
    line-height: 80px;
    margin-bottom: 0 !important;
}
.sidebar-socialmedia a:hover {
    color: var(--color-item-hover);
}
.sidebar-socialmedia .socialmedia-content {
    position: absolute;
    width: 100%;
    left: 100%;
    bottom: 0;
    overflow: hidden;
    visibility: hidden;
}

.sidebar-socialmedia .socialmedia-content a {
    position: relative;
    font-size: 30px;
    padding: 0 5px;
    right: 100%;
    transition: 0.3s;
    transition-delay: calc(60ms * var(--i));
}
.sidebar-socialmedia.active .socialmedia-content a {
    right: 0;
    visibility: visible;
}
.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 800px;
}
.body-container .login-content {

    background: transparent;
    width: 400px;
    height: 300px;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.788);
    backdrop-filter: blur(5px);
}
.login-content h1 {
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;

}
.login-content .input-box {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    position: relative;
}
.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background-color: white;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder {
    color: white;
}
.input-box i {
    position: absolute;
    color: white;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.login-content .btn {
    display: block;
    width: 100%;
    height: 60px;
    padding: 0;
}
.btn .login {
    width: 100px;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 10px;
}
.btn .forget-pass {
    height: 100%;
    width: 230px;
    outline: none;
    border: none;
    border-radius: 15px;
}
